@font-face{
	src:url('./fonts/HelveticaNeue.ttf');
	font-family: 'Helvetica';
	font-smooth: always;
}
@font-face{
	src:url('./fonts/noe-display-bold.ttf');
	font-family: 'Noe';
	font-smooth: always;
}
@font-face{
	src:url('./fonts/Platform-Medium-Web.ttf');
	font-family: 'Platform';
	font-smooth: always;
}
@font-face{
	src:url('./fonts/SF-Pro-Display-Medium.otf');
	font-family: 'SFMedium';
	font-smooth: always;
}
html,body{
		background-color: #1d1d1d;

		background-image: -webkit-repeating-radial-gradient(center center,#444,#666 1px, transparent 1px, transparent 100%);

		background-size: 60px 60px;
}
body{
	padding:30px;
	color:#fff;

}

.name-container h2{

	padding:0px;
	margin: 0px;
	font-family: "Helvetica";
	letter-spacing: 0.1ch;
	font-size: 2rem;
	color:#fff;
	vertical-align: middle;

}
.name-container{

	width:120px;
	height: 120px;
	border: 3px solid;
	border-top-color:#FD2E58;
	border-left-color:#EFA93A;
	border-bottom-color:#5FD0D4;
	border-right-color: #2ecc71;
	padding: 10px;
	padding-top:30px;
	background-color: #1d1d1d;

}
.info-section{

	width: 100vw;
	height: 90vh;
	display: flex;

}
.content-body{
	overflow-y: hidden;
	overflow-x: hidden
	width: 100vw;
	height: auto;
	position: fixed;
	top:170px;
	height: calc(100vh - 170px);
}

.section-title{
	font-size: 12rem;
	display: inline-block;
	writing-mode:vertical-rl;
	text-align: center;
	line-height: 12rem;
	padding-left:10px;


}
.section-content{
	width:80vw;
	position: relative;
	height: 90vh;
	padding:35px;
	padding-left: 15rem;
	font-family: "Helvetica";
}

.grid-item { width: 200px;height: 200px; background-color: red;}
