@font-face{
	src:url('./fonts/NeueHaasGrotDisp-65Medium-Web.woff2');
	font-family: 'Helvetica';
}
html,body{
	padding: 10px;
	background-color: #1d1d1d;
	color:#fff;
}
html{
	border-bottom: 5px solid;
  border-image: linear-gradient(to right, rgb(72, 255, 221) 25% , rgb(79, 173, 255) 25%, rgb(79, 173, 255) 50%, rgb(255, 180, 68) 50%,rgb(255, 180, 68) 75%, rgb(254, 87, 75) 75% , rgb(254, 87, 75) 75%) 5;
	height: 100vh;
}
.thin{
	font-weight: 200 !important;
	margin: 0px;

}
.section-header{
	font-size: 3rem;
	margin: 0px;
}
.section-header:nth-child(1){
	color:rgb(72, 255, 221);
}
.section-header:nth-child(3){
	color:rgb(79, 173, 255);
}
.section-header:nth-child(5){
	color:rgb(255, 180, 68)
}
.section-header:nth-child(7){
	color:rgb(254, 87, 75)
}
.accent{
	color:rgb(64, 184, 235);	
	border-color:rgb(64, 184, 235)

}
#site-title{
	font-size: 6rem;
}
#subtitle{
	font-size: 3rem;
}


