@font-face{
	src:url('./fonts/HelveticaNeue.ttf');
	font-family: 'Helvetica';
	font-smooth: always;
}
@font-face{
	src:url('./fonts/noe-display-bold.ttf');
	font-family: 'Noe';
	font-smooth: always;
}
@font-face{
	src:url('./fonts/Platform-Medium-Web.ttf');
	font-family: 'Platform';
	font-smooth: always;
}
@font-face{
	src:url('./fonts/SF-Pro-Display-Medium.otf');
	font-family: 'SFMedium';
	font-smooth: always;
}
@font-face{
	src:url('./fonts/SF-Pro-Display-Thin.otf');
	font-family: 'SFLight';
	font-smooth: always;
}
html,body{
		background-color: #1d1d1d;

		background-image: -webkit-repeating-radial-gradient(center center,#444,#666 1px, transparent 1px, transparent 100%);

		background-size: 60px 60px;
}
body{
	padding:30px;
	color:#fff;

}

.section-content h1{
	font-size:3.5rem;
	font-family: 'SFMedium';
	margin-bottom: 2px;
}
.section-content h2{
	font-family: "SFLight";
	font-size: 2.5rem;

}
.header-thumb{
	border-radius: 50%;
	width:150px;
	height: 150px;
	box-shadow: inset 1px 1px 10px rgba(0,0,0,0.8);

}
.name-container h2{

	padding:0px;
	margin: 0px;
	font-family: "Helvetica";
	letter-spacing: 0.1ch;
	font-size: 2rem;
	color:#fff;
	vertical-align: middle;

}
.nav-buttons{
	position: absolute;
	display: flex;
	right: 5%;
}
.nav-buttons a{

	color:#fff;
	padding:10px;
	font-size: 2.5rem;
	transition: 0.2s;
	text-decoration: none;

}
.nav-buttons a:nth-child(1):hover{

	color:#FD2E58;

}
.nav-buttons a:nth-child(2):hover{

	color:#2ecc71;

}
.nav-buttons a:nth-child(3):hover{

	color:#5FD0D4;

}
.nav-buttons a:nth-child(4):hover{

	color:#EFA93A;

}
.green{
	color:#2ecc71;
}
.name-container{

	width:120px;
	height: 120px;
	border: 3px solid;
	border-top-color:#FD2E58;
	border-left-color:#EFA93A;
	border-bottom-color:#5FD0D4;
	border-right-color: #2ecc71;
	padding: 10px;
	padding-top:30px;
	background-color: #1d1d1d;

}
.info-section{

	width: 100vw;
	height: 90vh;
	display: flex;

}
.content-body{
	overflow-y: hidden;
	overflow-x: hidden
	width: 100vw;
	height: auto;
	position: fixed;
	top:170px;
	height: calc(100vh - 170px);
}

.section-title{
	font-size: 12rem;
	display: inline-block;
	writing-mode:vertical-rl;
	text-align: center;
	line-height: 12rem;
	padding-left:10px;


}
.section-content{
	width:80vw;
	position: relative;
	height: 90vh;
	padding:35px;
	padding-left: 10rem;
	font-family: "Helvetica";
	display: flex;
	flex-direction: column;
}

.grid-item { width: 200px;height: 200px; background-color: red;}
