<div id="observablehq-5c740cb0">
    <div class="observablehq-viewof-ancestry"></div>
    <div class="observablehq-chart"></div>
  </div>
  <script type="module">
    import {Runtime, Inspector} from "https://cdn.jsdelivr.net/npm/@observablehq/runtime@4/dist/runtime.js";
    import define from "https://api.observablehq.com/@mbostock/ancestry-by-u-s-county.js?v=3";
    (new Runtime).module(define, name => {
      if (name === "viewof ancestry") return Inspector.into("#observablehq-5c740cb0 .observablehq-viewof-ancestry")();
      if (name === "chart") return Inspector.into("#observablehq-5c740cb0 .observablehq-chart")();
    });
  </script>
