---
---

@import "{{ site.theme }}";
@import "syntax-highlighting";

@font-face{

    font-family: "Inter";
    src:url('./fonts/Inter (OTF)/Inter-Light-BETA.otf');
  
  }
  @font-face{
  
    font-family: "Colfax";
    src:url('./fonts/colai/ColfaxAI-Regular.woff2');
  
  }
  @font-face{
  
    font-family: "ColfaxMedium";
    src:url('./fonts/colai/ColfaxAI-Medium.woff2');
  
  }
  @font-face{
  
    font-family: "ColfaxCaption";
    src:url('./fonts/colai/ColfaxAI-Caption.woff2');
  
  }
  body{
    color:#fff !important;
    background-color: #000;
  }
  h1{
    font-family: "ColfaxMedium";
  }
  h2, h3, h4, h5, h6 {
    font-family: "Colfax"
  }
  a{
    color: #fff !important;
  }
  a:visited{
    color:#fff;
  }
  a:hover{
    text-decoration:none;
    color:#eea15a !important;
    transition:0.3s;
  
  }
  .site-header{
    position:sticky;
    margin-top: 10px;
    top:0px;
    background-color: #000;
    color: #fff !important;
    border-image: linear-gradient(to left, rgb(171, 88, 196) 10%, orange 50%,  rgb(255, 92, 92) 85%) 3;
    border-bottom: 1px;
  }
  .site-title{
   font-family: "ColfaxCaption";
   color: #fff !important;
  }
  blockquote{
    font-family: "ColfaxCaption";
  }
  .post-title{
    font-family: "ColfaxMedium";
  }
  .wrapper{
    width: 60vw;
  }
  .MJXc-display{
    position: relative !important;
    z-index: -1;
    margin: 1.5em 0 !important;
  }
  .post-content{
    font-family: "Colfax";
    color: #fff;
  }
  .post-content h2{
    font-family: "ColfaxMedium";
    font-size: 1.6rem;
  }
  .post-content p{
    font-size: 1.1rem;
  }
  .profile-pic{
    width: 200px;
    height: 200px;
    display: block;
  }
  .site-header{
  
    border: 0px;
    color: #ffffff;
  }
  .site-footer{
    border-image:   linear-gradient(to left, rgb(171, 88, 196) 10%, orange 50%,  rgb(255, 92, 92) 85%) 3;
    border: 0px;
    border-top: 1px solid #1e1e1e !important;
  }
  .image-caption {
    text-align: center;
    font-size: .8rem !important;
    color: light-grey;
  }
  p{
    width: 100% !important;
  }
  .orange{
    color:orange
  }
  .green{
    color:rgb(58, 224, 161)
  }
  .underlit{
    font-style: italic;
  }
  @media screen and (max-width: 600px){
    .site-nav{
      background-color:#222 !important;
      border:0px !important;
    }
    .wrapper{
      width:90vw !important;
    }
  }

.post-tag{
  background-color: green;
  width: fit-content;
  padding: 7px;
  font-size: 1rem;
  display: block !important;
  border-radius: 50vw;
  height: 15px;
  line-height: 15px;
  color: white;
  margin-right:5px;
}
.tag-container{
  display: flex;

}
.post-list > li{
  display: flex;
  flex-direction: column;
  vertical-align: center;
}
.title-tags{
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
.Music-tag{
  background-color:#307ff5;
}
.Perspective-tag{
  background-color: rgb(47, 206, 153);
}

.AI-tag{
  background-color: blueviolet;
}
.Neuro-tag{
  background-color: orange;
}