---
---

@import "{{ site.theme }}";
@import "syntax-highlighting";

@font-face{

    font-family: "Inter";
    src:url('./fonts/Inter (OTF)/Inter-Regular.otf');
  
  }
  @font-face{

    font-family: "InterSemi";
    src:url('./fonts/Inter (OTF)/Inter-SemiBold.otf');
  
  }
  @font-face{

    font-family: "NeueHaas";
    src:url('./fonts/NeueHaasGrotDisp-Light.woff2');
  
  }
  @font-face{

    font-family: "Crimson";
    src:url('./fonts/CrimsonText-Regular.ttf');
  
  }
  @font-face{
  
    font-family: "Colfax";
    src:url('./fonts/colai/ColfaxAI-Regular.woff2');
  
  }
  @font-face{
  
    font-family: "ColfaxMedium";
    src:url('./fonts/colai/ColfaxAI-Medium.woff2');
  
  }
  @font-face{
  
    font-family: "ColfaxCaption";
    src:url('./fonts/colai/ColfaxAI-Caption.woff2');
  
  }
  @font-face{
    font-family: "IBM Plex";
    src: url('./fonts/IBMPlexSerif-Regular.otf');
  }
  body{
    color:#fff !important;
    background-color: #000;
    font-family: 'Inter';
    font-kerning: none !important;
    letter-spacing: 0;
  }
  a{
    color: #fff !important;
  }
  a:visited{
    color:#fff;
  }
  a:hover{
    text-decoration:none;
    color:#eea15a !important;
    transition:0.3s;
  
  }
  body {
    -webkit-scrollbar-width: thin !important;
    -webkit-scrollbar-color: #333 #222;
  }
  
  .site-header{
    position:sticky;
    margin-top: 10px;
    top:0px;
    background-color: #000;
    color: #fff !important;
    border: 0px !important;

  }
  .site-title{
   color: #fff !important;
  }
  blockquote{
  }
  .post-title{
    font-family: "InterSemi";
  }
  .wrapper{
    width: 50vw;
  }
  .MJXc-display{
    position: relative !important;
    z-index: -1;
    margin: 1.5em 0 !important;
  }
  .post-content{
    color: #fff;
  }
  .post-content h1{
    font-size: 1.6rem;
    font-weight: bold;
    text-decoration: underline;
  }
  .post-content h4{
    font-size: 1.4rem;
    text-decoration: underline;
  }
  .post-content p{
    font-size: 1.1rem;
    font-weight: 100;
  }
  .profile-pic{
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
  }
  .site-footer{
    border-image:   linear-gradient(to left, rgb(171, 88, 196) 10%, orange 50%,  rgb(255, 92, 92) 85%) 3;
    border-top: 1px solid #1e1e1e;
    position:sticky;

  }
  .image-caption {
    text-align: center;
    font-size: .8rem !important;
    color: light-grey;
  }
  p{
    width: 100% !important;
  }
  .orange{
    color:orange
  }
  .green{
    color:rgb(58, 224, 161)
  }
  .underlit{
    font-style: italic;
  }
  @media screen and (max-width: 600px){
    .site-nav{
      background-color:#222 !important;
      border:0px !important;
    }
    .wrapper{
      width:90vw !important;
    }
  }
.post-link{
}
.post-tag{
  background-color: green;
  width: fit-content;
  padding: 7px;
  font-size: 1rem;
  display: block !important;
  border-radius: 50vw;
  height: 15px;
  line-height: 15px;
  color: white;
  margin-right:5px !important;
  margin-left: 0px !important;
}
.tag-container{
  display: flex;

}
.post-list > li{
  display: flex;
  flex-direction: column;
  vertical-align: center;
}
.title-tags{
  display: flex;
  flex-direction: row !important;
  align-items: center;
}
.Music-tag{
  background-color:#307ff5;
}
.Perspective-tag{
  background-color: rgb(47, 206, 153);
}

.AI-tag{
  background-color: blueviolet;
}
.Neuro-tag{
  background-color: orange;
}